{% extends 'header.html' %}

{% block content %}
    <!-- Breadcrumb -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
            <div class="container pt-lg-5 py-3">
            </div>
        </div>
    </section>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'dashboard' %}">{{ request.user.first_name }} {{ request.user.last_name }}'s
                    Dashboard</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> {{ listing.title }}
                </li>
            </ul>
        </div>
    </section>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">


                <p>Are you sure you want to delete "{{ listing.id }}"?</p>

                <form action="{% url 'listing' listing.id %}" method="POST">

                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>

                    <input class="btn btn-danger" type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="main-footer" class="py-4 bg-primary text-white text-center">
        Copyright &copy;
        <span class="year"></span> Hostel Hunter
    </footer>
{% endblock %}